<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get data</title>
</head>
<body>

<h3>The length of file is {{ file_size }}</h3>

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Location</th>-->
<!--        <th>Count</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {% for item in grouped_data %}-->
<!--        <tr>-->
<!--            <td>{{ item.Location }}</td>-->
<!--            <td>{{ item.Count }}</td>-->
<!--        </tr>-->
<!--    {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>
